# macOS
.DS_Store
**/.DS_Store

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.bbl
*.blg
*.run.xml
*_minted*/

# Python
__pycache__/
*.pyc
.venv/

# R
.Rhistory
.RData

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Build artifacts
build/
dist/

# Other
MATH 431/Homework/templates/prompts/

# Contex
**/background.md
**/MATH521_system_prompt.md